*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary : #6c63ff; 
    --color-success : #00bf8e;  
    --color-warning : #f7c94b; 
    --color-danger : #f75842;
    --color-danger-variant : rgba(247, 88, 66, 0.4); 
    --color-white : #fff; 
    --color-light : rgba(255, 255, 255, 0.7); 
    --color-black : #000; 
    --color-bg : #1f2641; 
    --color-bg1 : #2e3267; 
    --color-bg2 : #424890; 

    --container-width-lg : 76%; 
    --container-width-md : 90%; 
    --container-width-sm : 94%; 
    --transition : all 400ms ease;
}


.contactContainer{
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/* aside */


.contactAside{
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.asideImg{
    width: 12rem;
    margin-bottom: 2rem;
}

.contactAside h2{
    text-align: left;
    margin-bottom: 1rem;
}

.contactAside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contactDetails li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contactSocial{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contactSocial a{
    background: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contactSocial a:hover{
    background: transparent;
}


/* form */


.contactForm{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.formName{
    display: flex;
    gap: 1.2rem;
}

.contactForm input[type="text"]{
    width: 50%;
}

input, textarea{
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}




/* media query for tablets */


@media screen and (max-width:1024px) {
    .contact{
        padding-bottom: 0;
    }

    .contactContainer{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contactAside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contactForm{
        align-self: center;
        margin-right: 1.5rem;
    }
}


/* media Query for mobile */


@media screen and (max-width:600px) {
    .contactContainer{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contactForm{
        margin: 0 1.5rem 3rem;
    }

    .formName{
        flex-direction: column;
    }

    .formName input[type="text"]{
        width: 100%;
    }
}


.button2 {
    --primary: #275efe;
    --primary-dark: #2055ee;
    --primary-darkest: #133fc0;
    --text: #fff;
    --text-opacity: 1;
    --success: #0bff24;
    --success-scale: 0.2;
    --success-opacity: 0;
    --border-radius: 7;
    --overflow: hidden;
    --rotate: 0;
    --plane-x: 0;
    --plane-y: 0;
    --plane-opacity: 1;
    --left-wing-background: var(--primary);
    --left-wing-first-x: 0;
    --left-wing-first-y: 0;
    --left-wing-second-x: 50;
    --left-wing-second-y: 0;
    --left-wing-third-x: 0;
    --left-wing-third-y: 100;
    --left-body-background: var(--primary);
    --left-body-first-x: 50;
    --left-body-first-y: 0;
    --left-body-second-x: 50;
    --left-body-second-y: 100;
    --left-body-third-x: 0;
    --left-body-third-y: 100;
    --right-wing-background: var(--primary);
    --right-wing-first-x: 50;
    --right-wing-first-y: 0;
    --right-wing-second-x: 100;
    --right-wing-second-y: 0;
    --right-wing-third-x: 100;
    --right-wing-third-y: 100;
    --right-body-background: var(--primary);
    --right-body-first-x: 50;
    --right-body-first-y: 0;
    --right-body-second-x: 50;
    --right-body-second-y: 100;
    --right-body-third-x: 100;
    --right-body-third-y: 100;
    display: block;
    cursor: pointer;
    position: relative;
    border: 0;
    padding: 8px 0;
    min-width: 100px;
    text-align: center;
    margin: 0;
    line-height: 24px;
    font-weight: 500;
    font-family: inherit;
    background: none;
    outline: none;
    color: var(--text);
    transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.button2 .left,
.button2 .right {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: var(--plane-opacity);
    transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y)* 1px)) translateZ(0);
}

.button2 .left::after,
.button2 .right::after,
.button2 .left::before,
.button2 .right::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    border-radius: calc(var(--border-radius) * 1px);
    transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
    z-index: var(--z-index, 2);
    background: var(--background, var(--left-wing-background));
    clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%),
            calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%),
            calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
}

.button2 .left::after {
    --x: 0;
    --z-index: 1;
    --background: var(--left-body-background);
    --first-x: var(--left-body-first-x);
    --first-y: var(--left-body-first-y);
    --second-x: var(--left-body-second-x);
    --second-y: var(--left-body-second-y);
    --third-x: var(--left-body-third-x);
    --third-y: var(--left-body-third-y);
}

.button2 .right::before {
    --x: -0.4%;
    --z-index: 2;
    --background: var(--right-wing-background);
    --first-x: var(--right-wing-first-x);
    --first-y: var(--right-wing-first-y);
    --second-x: var(--right-wing-second-x);
    --second-y: var(--right-wing-second-y);
    --third-x: var(--right-wing-third-x);
    --third-y: var(--right-wing-third-y);
}

.button2 .right::after {
    --x: 0;
    --z-index: 1;
    --background: var(--right-body-background);
    --first-x: var(--right-body-first-x);
    --first-y: var(--right-body-first-y);
    --second-x: var(--right-body-second-x);
    --second-y: var(--right-body-second-y);
    --third-x: var(--right-body-third-x);
    --third-y: var(--right-body-third-y);
}

.button2 span {
    display: block;
    position: relative;
    z-index: 4;
    opacity: var(--text-opacity);
}

.button2 span.success {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale)) translateZ(0);
    opacity: var(--success-opacity);
    color: var(--success);
}






.bgAniConatiner{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .bubbles{
    position: relative;
    display: flex;
    z-index: -100;
  }
  
  .bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: aniBG 15s linear infinite;
    animation-duration: calc(125s / var(--i));
  }
  
  .bubbles span:nth-child(even){
  
    background: #ff2d75;
  
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
  }
  
  @keyframes aniBG {
    0%{
        transform: translateY(100vh) scale(0);
    }
  
    100%{
        transform: translateY(-10vh) scale(1);
    }
  }
